<!-- components/navbar.html -->
<nav th:fragment="nav_bar"
     class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a class="navbar-brand fw-bold d-flex align-items-center" th:href="@{/}">
            <img th:src="@{/images/logo_sprint.png}" alt="Logo Kiosco"
                 style="height: 90px; width:auto;" class="me-2">
            Kiosco Sprint
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarPublic" aria-controls="navbarPublic"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarPublic">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre-nosotros">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacto">Contacto</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light ms-3 px-3 rounded-pill"
                       th:href="@{/login}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
