.containerGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    width: 90vw;
    height: 90vh;
    justify-items: end;
    align-items: center;
}
.containerGrid div{
    background-color: aquamarine;
    border: 1px solid black;

}
.elemento1{
    grid-column: 1/3;
}