<!-- components/cards.html -->
<div th:fragment="_cards">
    <div class="site-section section-2" id="classes-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <h2 class="section-title">Clases</h2>
                    <p>Las clases que ofrecemos.</p>
                </div>
            </div>
        </div>

        <div class="owl-carousel nonloop-block-13">
            <div class="work-thumb">
                <div class="work-text">
                    <h3>Clase: Meditación</h3>
                    <span class="category">Fitness</span>
                </div>
                <img src="images/slide_0.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="work-thumb">
                <div class="work-text">
                    <h3>Clase: Cardio</h3>
                    <span class="category">Cardio Vascular</span>
                </div>
                <img src="images/slide_1.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="work-thumb">
                <div class="work-text">
                    <h3>Clase: Peso</h3>
                    <span class="category">Pierde Peso</span>
                </div>
                <img src="images/slide_2.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="work-thumb">
                <div class="work-text">
                    <h3>Clase: Crossfit</h3>
                    <span class="category">Cardio Vascular</span>
                </div>
                <img src="images/slide_3.jpg" alt="Image" class="img-fluid">
            </div>

            <div class="work-thumb">
                <div class="work-text">
                    <h3>Clase: Gimnasio</h3>
                    <span class="category">Fitness</span>
                </div>
                <img src="images/slide_4.jpg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div>
