<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Sport Gym - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Fuentes / Iconos -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <style>
        .card-body input.form-control {
            color: #212529 !important;
            background-color: #fff !important;
        }

        .card-body input.form-control::placeholder {
            color: #6c757d !important;
            opacity: 1 !important;
        }
    </style>
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

<div class="site-wrap">

    <!-- NAVBAR -->
    <nav th:replace="components/navbar :: nav_bar"></nav>

    <!-- LOGIN -->
    <div class="site-section" id="login-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-body p-4">
                            <h2 class="text-center mb-4 text-dark">Iniciar Sesión</h2>
                            <div th:if="${error}" class="alert alert-danger text-center">
                                <p th:text="${error}"></p>
                            </div>
                            <!-- FORMULARIO -->
                            <form th:action="@{/login}" method="post">
                                <div class="form-group">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" required style="color:#212529;">
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" class="form-control" id="password" name="password" required style="color:#212529;">
                                </div>

                                <button type="submit" class="btn btn-link p-2 rounded border border-primary text-primary">
                                    Ingresar
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <div th:replace="components/footerDash :: footer_dash"></div>

</div>

<script th:src="@{/js/include-components.js}"></script>
</body>
</html>
