<!-- components/navbar.html -->
<nav th:fragment="nav_bar" >
    <header class="site-navbar py-5 js-sticky-header site-navbar-target" role="banner">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <div class="site-logo"><a href="inicio">Sport Gym</a></div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li><a href="inicio#home-section" class="nav-link">Inicio</a></li>
                            <li><a href="inicio#classes-section" class="nav-link">Clases</a></li>
                            <li><a href="inicio#schedule-section" class="nav-link">Horarios</a></li>
                            <li><a href="inicio#trainer-section" class="nav-link">Entrenadores</a></li>

                        </ul>
                    </nav>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu site-menu-dark js-clone-nav mr-auto d-none d-lg-block">
                            <li class="cta">
                                <a th:href="@{/login}" class="nav-link">
                                    <span class="rounded border border-primary">Login</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right">
                        <span class="icon-menu h3"></span></a>
                </div>
            </div>
        </div>
    </header>
</nav>